@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
@media (max-width: 60px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  th, td {
    display: block;
    text-align: left;
  }
}
